@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
:root {
    --grey1: rgb(128, 128, 128);
}

* {
    /* font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif; */
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.5rem;
    overflow: hidden;
}

/* Sidebard section */

#sidebar {
    width: 35vw; 
    position: relative;
    text-align: center;
    background-image: url(./images/background-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo-sect {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: absolute;
    bottom: 100px;
    width: 100%;
    background-color: var(--grey1);
    font-family: 'Permanent Marker', cursive;
    font-size: 2.3rem;
    
}

#logo-sect > img {
    height: 100px;
}

#logo-sect > h3 {
    color: rgb(241, 240, 240);
}

/* Main content section */

#main-content {
    width: 65vw;
    background-color: rgb(228, 229, 230);
}

#main-content #description {
    padding: 60px 180px 60px 60px;
}

#main-content #user-form {
    padding: 35px 50px 35px 60px;
    background-color: rgb(241, 240, 240);
    box-shadow: 0 10px 20px -5px var(--grey1);
    height: 25vh;
}

/* User Sign Up Form */
form {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}

form>div {
    margin: 0 10vw 1rem 0;
}

form div {
    display: flex;
    flex-direction: column;
    width: 30%;
}

input {
    height: 1.4rem;
    border: 1px solid black;
    border-radius: 5px;
}

#pass-error {
    color: red;
}
button {
    position: relative;
    top: 5rem;
    padding: 15px 60px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--grey1);
    color: rgb(255, 255, 255);
}

button:hover {
    background-color: white;
    color: var(--grey1);
}
#log-in {
    position: relative;
    top: 5rem;
    margin: 35px 0px 0px 60px;
    font-size: 0.9rem;
}

#log-in a {
    color: var(--grey1);
}